.l-master-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__body {
    flex-basis: 1px;
    flex-grow: 1;
  }

  &__magazine {
    margin-bottom: 50px;
  }

  &__message {
    margin-bottom: 50px;
  }
}

.l-master-layout-auth {
  max-width: 200px;

  &__info {
    align-items: center;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    padding: 0 !important;
  }

  &__button {
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 3px !important;
    color: #fff !important;
  }
}
